*{
  box-sizing: border-box;
  margin:0;
  /* DEBUG:  */
  /* border:1px solid black; */
  /* padding:5px; */
  /* overflow: hidden; */
  }

ul{
  list-style: none;
  padding: 0;
}
body{
  padding-top: 67px;
    /* DEBUG:  */
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* min-height: 200vh; */
}

  *::before, *::after{
  box-sizing: border-box;
}

.my-nav-bottom{
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.05) ;
}

header{
  /* background-image: url('../img/'); */
  background-image: url('../img/jumbo.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header .my-col-header-left{
  padding: 70px 50px;
}

header .my-col-header-left h2{
  color: #fefeff;
  font-size: 56px;
}

header .my-col-header-left p{
  color: #bbccfd;
  font-size: 20px;
}

header .my-col-header-right{
  padding: 70px 10px;
}

header .my-col-header-right h4{
  font-size: 26px;
}

header .my-col-header-right input{
  padding: 10px 5px;
  margin-bottom: 10px;
}

.my-box-header-form{
  background-color: white;
  padding: 25px;
  border-radius: 5px;
}

.my-box-header-form  *{
  border-radius: 4px;
  border: none;
}

.my-box-header-form input{
  border: 1px solid #eeeeee;
}

#my-start-link{
  text-decoration: none;
  color:#006aff;
}


#my-account-button{
  text-decoration: none;
  color:white;
  background-color: #579aff;
  padding: 6px 0;
  margin-bottom: 10px;
}

#my-google-button{
  position: relative;
  text-decoration: none;
  color: #626262;
  box-shadow: 1.5px 1.5px 1.5px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 0;
  margin-bottom: 12px;
}

#my-google-button i{
  position: absolute;
  left: 15px;
  top:50%;
  transform: translatey(-50%);
  font-size: 17px;
}


.my-section-main.n1{
  background-color: #f3f5f9;
}

.my-section-main.n1 p{
  color:#6f7b97;
}

.my-section-main.n2{
  background-color: white;
}

.my-section-main.n2 p, .my-section-main.n2 ul,  .my-section-main.n2 article{
  color:#6f7b97;
}

.my-buttons > input{
  display: block;
  border: none;
  background-color: transparent;
  border-left: 2px solid  #e5e8ed;
  color: #687695;
}

.my-buttons > input:first-of-type{
  border-left: 2px solid  #0069ff;
  color: #031b4e;
}

.my-section-main.n3{
  background-color: #f3f5f9;
}

.my-section-main.n3 p, .my-section-main.n3 article{
  color:#6f7b97;
}

.carousel-top img{
  max-width: 100%;
}

.my-box-awesome{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  font-size: 50px;
  display: none;
}

.my-box-awesome  .fa-angle-right{
  position: absolute;
  left: 100%;
  top:50%;
  transform: translatey(-50%);
}

.my-box-awesome  .fa-angle-left{
  position: absolute;
  right: 100%;
  top:50%;
  transform: translatey(-50%);
}

.my-section-main.n4{
  background-color: white;
}
.my-section-main.n4 *{
  overflow: hidden;
}

.my-section-main.n4 p, .my-section-main.n4 article{
  color:#6f7b97;
}

.my-section-main.n5{
  background: rgb(2,0,36);
  background: linear-gradient(8deg, rgba(2,0,36,1) 0%, rgba(0,30,154,1) 0%, rgba(0,72,198,1) 100%);
}

.my-section-main.n5 h2{
  color: white;
}

.col-sm-6.my-col-section-main-5.left > div span:first-child, .col-sm-6.my-col-section-main-5.right > div span:first-child {
  color: #eaeff8;
}

.col-sm-6.my-col-section-main-5.left > div span:nth-child(2), .col-sm-6.my-col-section-main-5.right >  div span:nth-child(2) {
  color: #bbc8ea;
}


.my-section-main.n6{
  background-color: #f3f5f9;
}

.my-section-main.n6 p:first-of-type, .my-section-main.n6 article{
  color:#6f7b97;
}

.carousel-bottom img{
  width: 150px;
}

.my-carousel-card-bottom{
  background-color: white;
}

.my-section-main.n7{
  background-image: url('../img/bg-home-cta.svg');
}
.my-section-main.n7 h2{
  color: white;
}

#my-account2-button{
  background-color: white;
  color: #006aff;
  text-decoration: none;
}

footer{
  background-color: #031c4e;
}

footer h4{
  color: white;
}

footer ul a, footer p:first-of-type{
  text-decoration: none;
  color: #919bae;
}

footer p:nth-of-type(2){
  color: #5a6887;
}

#my-social-media-footer ul li a{
  color:#7a859d;
  font-size: 23px;
}



#my-social-media-footer li{
  display:inline-block;
  margin-right: 10px;
}


/* inizio viewport MOBILE */

.col-xs-3.my-nav{
  height: 67px;
}


.my-nav-bottom{
  background-color: white;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  top:0;
  left:0;
}


.my-logo-header{
  width: 180px;
  height: 65px;
  display: flex;
  align-items: center;
  top:0;
  left:0;
  margin-left: 1em;
}

.my-logo-header-container{
  position: relative;
  width: 200px;
  overflow: hidden;
}


img#my-logo-header-img{
  width: 100%;
}

.nav-toggle{
  display: none;
}

.nav-toggle-label{
  position: absolute;
  right: 0;
  top:50%;
  transform: translatey(-50%);
  margin-right: 1em;
}

.nav-toggle-label span{
  display: block;
  background-color: #5c6a86;
  height: 2px;
  width: 1.5em;
  border-radius: 2px;
  position: relative;
}

span{
  margin-bottom: 3px;
}


.my-dropdown-container-box{
  width: 99vw;
  position: absolute;
  text-align: left;
  top:108%;
  right:0;
  background-color: white;
  color: #031c4e;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-left: 5px;
  display: none;
}

.my-dropdown-container-box ul{
  margin:0;
}

.my-dropdown-container-box li{
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}


.my-dropdown-container-box a{
  color: #031c4e;
  text-decoration: none;
  font-size: 1.4rem;
  /* text-transform: uppercase; */
}

.my-dropdown-container-box a:hover{
  color:#000;
}

.nav-toggle:checked ~ .my-dropdown-container-box{
  display: block !important;
  /* zemot tu sachiro iqna davamato !important */
}



.my-col-header-right{
  text-align: center;
}

.my-form-header > *{
  display: inline-block;
  width: 100%;
}

.my-section-main.n1{
  text-align: center;
}


.my-section-main.n2 h2, .my-section-main.n2 p {
  text-align: center;
}

.my-section-main.n3{
  text-align: center;
}

.my-section-main.n4 h2{
  text-align: center;
}



.my-section-main.n5 h2{
  text-align: center;
}

.my-col-section-main-5{
  margin-bottom: 20px;
}

.my-col-section-main-5 div{
  position: relative;
}

.my-col-section-main-5 a{
  position: absolute;
  right: 0;
  margin-left: 15px;
}

.my-col-section-main-5 div span:nth-child(2){
  margin-left: 35px;
}

.my-col-section-main-5 div{
  border-bottom: 1px solid white;
}


.my-section-main.n6{
  text-align: center;
}

.my-section-main.n7{
  text-align: center;
}
.my-col-footer-left > *{
  display: block;
}
/* fine viewport MOBILE */

/* inizio viewport TABLET */

@media all and (min-width:768px) {
  .nav-toggle-label{
    display: none;
  }


  .my-dropdown-container-box{
    position: static;
    text-align: right;
    width: 100%;
    background-color: transparent;
    color: #031c4e;
    border-radius: 0;
    top:0;
    left:0;
    margin-right: 1em;
    display: flex;
    align-items: center;
  }

  ul.my-nav-ul-right{
    position: absolute;
    top:50%;
    right:0;
  }

  ul.my-nav-ul-left{
    position: absolute;
    top:50%;
    left:0;
  }

ul.my-nav-ul-left li, ul.my-nav-ul-right li{
    display: inline-block;
    margin: 0;

  }
  .my-logo-header{
    width: 100%;
    float: left;
  }
  .col-sm-6.my-nav{
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .my-dropdown-container-box a{
    margin-left: 0.7em;
    margin-right: 0.7em;
  }


  /* inizio HEADER */

  .my-box-awesome{
    display: block;
  }
}

/* fine viewport TABLET */
