*{
  box-sizing: border-box;
  margin:0;
  /* DEBUG:  */
  /* border:1px solid black;
  padding:5px; */
  }
body{
  padding-top: 150px;
    /* DEBUG:  */
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 200vh;
}

  *::before, *::after{
  box-sizing: border-box;
}

/* inizio viewport MOBILE */

.col-xs-3.my-nav{
  height: 67px;
}


.my-nav-bottom{
  background-color: white;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  top:0;
  left:0;
}


.my-logo-header{
  width: 180px;
  height: 65px;
  display: flex;
  align-items: center;
  top:0;
  left:0;
  margin-left: 1em;
}

.my-logo-header-container{
  position: relative;
  width: 200px;
  overflow: hidden;
}


img#my-logo-header-img{
  width: 100%;
}

.nav-toggle{
  display: none;
}

.nav-toggle-label{
  position: absolute;
  right: 0;
  top:50%;
  transform: translatey(-50%);
  margin-right: 1em;
}

.nav-toggle-label span{
  display: block;
  background-color: #5c6a86;
  height: 2px;
  width: 1.5em;
  border-radius: 2px;
  position: relative;
}

span{
  margin-bottom: 3px;
}


.my-dropdown-container-box{
  width: 99vw;
  position: absolute;
  text-align: left;
  top:108%;
  right:0;
  background-color: white;
  color: #031c4e;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-left: 5px;
  display: none;
}

.my-dropdown-container-box ul{
  margin:0;
  padding: 0;
  list-style: none;
}

.my-dropdown-container-box li{
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}


.my-dropdown-container-box a{
  color: #031c4e;
  text-decoration: none;
  font-size: 1.4rem;
  /* text-transform: uppercase; */
}

.my-dropdown-container-box a:hover{
  color:#000;
}

.nav-toggle:checked ~ .my-dropdown-container-box{
  display: block !important;
  /* zemot tu sachiro iqna davamato !important */
}



.my-col-header-right{
  text-align: center;
}

.my-form-header > *{
  display: inline-block;
  width: 100%;
}

.my-section-main.n1{
  text-align: center;
}


.my-section-main.n2 h2, .my-section-main.n2 p {
  text-align: center;
}


/* fine viewport MOBILE */

@media all and (min-width:768px) {
  .nav-toggle-label{
    display: none;
  }


  .my-dropdown-container-box{
    position: static;
    text-align: right;
    width: 100%;
    background-color: transparent;
    color: #031c4e;
    border-radius: 0;
    top:0;
    left:0;
    margin-right: 1em;
    display: flex;
    align-items: center;
  }

  ul.my-nav-ul-right{
    position: absolute;
    top:50%;
    right:0;
  }

  ul.my-nav-ul-left{
    position: absolute;
    top:50%;
    left:0;
  }

ul.my-nav-ul-left li, ul.my-nav-ul-right li{
    display: inline-block;
    margin: 0;

  }
  .my-logo-header{
    width: 100%;
    float: left;
  }
  .col-sm-6.my-nav{
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .my-dropdown-container-box a{
    margin-left: 0.7em;
    margin-right: 0.7em;
  }


  /* inizio HEADER */


}
